.menu{
    border: none;
    border-radius: 4px;
    height: 40px;
    width:100px;
    background-color: #590d22;
    color: white;
    position: absolute;
    top: 0;
    right: 0;
}


.ventana{
    background-color: #590d22;
    opacity: 0.9;
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100%;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.cerrar-ventana {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    border-radius: 4px;
    height: 40px;
    width:40px;
    color: black;


}
.cerrar-ventana:hover{
    box-shadow: 0 0 25px white;
}

.ventana__contenido{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.portfolio, .servicios, .contacto{
    font-size: 32px;
color: white;
}
.texto-random{
    font-size: 32px;
}